@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  -webkit-app-region: no-drag;
  /* Ensure interaction is possible unless specified otherwise */
}